@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;

  color: #fff;
}
.container-main {
  height: 100vh;
  width: 100%;
  color: #0000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    324deg,
    rgba(255, 251, 237, 1) 25%,
    rgba(207, 142, 255, 1) 93%
  );
}
.escena {
  height: 100vh;
  width: 100%;
}
/* Overlay */
.cont-Overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 5%;
  text-align: center;
  background-color: transparent;
}
.cont-overlay-Section {
  background-color: transparent;
}
.textH {
  font-weight: 600;
}
.cont-button {
  position: absolute;
  z-index: 1;
  bottom: 7%;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cont-botonetes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boton {
  padding: 0.5rem 2.5rem;
  background-color: #d88c29;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: 600ms all ease-in-out;
}
.boton:hover {
  background-color: #d8a15a;
}
.boton-si {
  left: 20%;
}
.boton-no {
  right: 20%;
}
/* loader */
h1,
h2 {
  padding: 0 1rem;
  text-align: center;
  background-color: transparent;
}
h1 {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  background: linear-gradient(
    324deg,
    rgba(255, 251, 237, 1) 25%,
    rgba(207, 142, 255, 1) 93%
  );
}
.cont-img {
  position: relative;
  height: 80vh;
  width: 50vh;
  background-color: transparent !important;
  animation: fly 2s infinite alternate;
}
.pepa {
  object-fit: contain;
  height: 100%;
  background-color: transparent !important;
}
@keyframes fly {
  0% {
    transform: translateY(0) translateX(-5px); /* Posición inicial */
  }
  50% {
    transform: translateY(20px) translateX(5px); /* Posición más baja del vuelo */
  }
  100% {
    transform: translateY(0) translateX(-5px); /* Vuelta a la posición inicial */
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  margin-bottom: 2rem;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #772e72, -20px 0 #ac44a5be;
    background: #682964;
  }
  33% {
    box-shadow: 20px 0 #682964, -20px 0 #ac44a5be;
    background: #ac44a5be;
  }
  66% {
    box-shadow: 20px 0 #ac44a5be, -20px 0 #682964;
    background: #ac44a5be;
  }
  100% {
    box-shadow: 20px 0 #ac44a5be, -20px 0 #682964;
    background: #682964;
  }
}
/* HTML: <div class="loader"></div> */
.loaderEscena {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ac44a5be;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.canvas {
  background: linear-gradient(
    324deg,
    rgba(255, 251, 237, 1) 25%,
    rgba(207, 142, 255, 1) 93%
  );
}
/* MODAL */
.cont-fill {
  position: absolute;
  z-index: 4;
  height: 100vh;
  width: 100%;
  background-color: #0000006f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-modal {
  position: absolute;
  z-index: 5;
  width: 90%;
  background-color: rgba(207, 142, 255, 1);
  border-radius: 20px;
  padding: 2rem 1rem;
  display: flex;

  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
@media (min-width: 1200px) {
  .cont-modal {
    width: 19%;
  }
}
.blanco {
  color: #fff;
}
.padding {
  margin-top: 1rem;
  color: #fff;
}
.ma {
  margin-left: 0.5rem;
}
input {
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  color: #682964;
}
